.faq {
  margin-bottom: 100px;
}

.faq__container {
  width: 100%;
}

.faq__title {
  margin-bottom: 33px;
}

.accordion__item:first-child {
  border-top: 1px solid var(--gray);
}

.accordion__item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--gray);
  transition: border-color 0.3s ease;
}

.accordion__title {
  margin: 0;
}

.accordion__heading {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 39px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease;
}

.accordion__heading:focus,
.accordion__heading:hover {
  color: var(--orange);
}

.accordion__content {
  overflow: hidden;
}

.accordion__content-wrap {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition-delay: 0.3s;
}

.accordion__text {
  max-width: 1003px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.accordion__text:last-child {
  padding-bottom: 39px;
}

.is-active .accordion__content-wrap {
  opacity: 1;
  visibility: visible;
}


.accordion__item:first-child:hover,
.accordion__item:hover,
.accordion__item:focus-within {
  border-color: var(--orange);
}

.accordion__icon {
  position: absolute;
  top: 48%;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--gray);
  transform: translateY(-50%);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.accordion__icon::before,
.accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  transition: background-color, 0.3s ease;
}

.accordion__icon::before {
  width: 31px;
  height: 1px;
}

.accordion__icon::after {
  width: 1px;
  height: 31px;
}

.accordion__heading:hover .accordion__icon,
.accordion__heading:focus .accordion__icon {
  background-color: var(--orange);
  outline: none;
}

.accordion__heading:hover .accordion__icon::after,
.accordion__heading:focus .accordion__icon::after,
.accordion__heading:hover .accordion__icon::before,
.accordion__heading:focus .accordion__icon::before {
  background-color: var(--white);
}

.accordion__heading:active .accordion__icon::after,
.accordion__heading:active .accordion__icon::before {
  background-color: var(--black);
}

.accordion__heading:active .accordion__icon {
  background-color: var(--gray);
  outline: none;
}

.is-active .accordion__icon {
  transform: translateY(-50%) rotate(45deg);
}
